<a href="/auth"><h1>[ HealthApp &#9829; ]</h1></a><p>

<h1>{{client.first}} {{client.last}}</h1>

<div class="client-info">

    <h2>PROFILE</h2>

    <P>{{client.profile}}</P>

    <h2>First Name</h2>

    <p>{{client.first}}</p>

    <h2>Last Name</h2>

    <p>{{client.last}}</p>

    <h2>Sex</h2>

    {{#if client.sex}}
        <p id="clientpara">{{client.first}} is female</p>
    {{else}}
        <p id="clientpara">{{client.first}} is male</p>
    {{/if}}

    <h2>Height </h2>

    <p id="clientpara">{{client.height}} ft</p>

    <h2>Weight</h2>

    <p id="clientpara">{{client.weight}} lbs</p>

    <h2>Heart Rate</h2>

    <p id="clientpara">{{client.heart}} bpm</p>

    <h2>Notes</h2>

    <p>{{client.notes}}</p>

</div>



<div class="dates-update">

    <h2>Dates Updated</h2>
<p></p>
</div>

<p><a href="/auth"><input class="home_button" type="submit" value="H  O  M  E  "></a>

    <a href="/auth/logout"><input class="logout_button" type="submit" value="LOGOUT"></a>

<p><a href="/tasks/add"><input class="todo_button" type="submit" value="TO DO TASKS"></a>

    <a href="/tasks/tasks_completed/tasklist"><input class="completed_button" type="submit" value="COMPLETED TASKS"></a>


<script src="/javascripts/check.js"></script>  <!-- Javascript file for message box -->

    <script src="/javascripts/modals.js"></script>  <!-- Javascript file for modal allowing client profile modififications -->