<a href="/auth"><h1>[ HealthApp &#9829; ]</h1></a><p>

<h1>{{client.first}} {{client.last}}</h1>

<div class="client-info">

    <h2>First Name</h2>

    <p>{{client.first}}</p>

    <h2>Last Name</h2>

    <p>{{client.last}}</p>

    <h2>Sex</h2>

    {{#if client.sex}}
        <p>{{client.first}} is female</p>
    {{else}}
        <p>{{client.first}} is male</p>
    {{/if}}

    <h2>Height (Feet) </h2>

    <p>{{client.height}}</p>

    <h2>Weight</h2>

    <p>{{client.weight}}</p>

    <h2>Heart Rate</h2>

    <p>{{client.heart}}</p>

    <h2>Notes</h2>

    <p>{{client.notes}}</p>


</div>

<div class="dates-update">

    <h2>Dates Updated</h2>

    <div class="new-update-form">

        <h3>Update record</h3>
        <form method="POST" action="/addUpdate">
            Update: <input type="date" name="date">
            <input type="hidden" name="_id" value="{{client._id}}">
            <input class="submit_button" type="submit" value="Submit">
        </form>

        <div class='flash-errors'>
            {{#if messages}}
                <p class="error-message">{{messages.error}}</p>
            {{/if}}
        </div>
    </div>
</div>

<div class="update">
    {{#each client.datesUpdate}}
        <p>{{formatDate this}}</p>
    {{else}}
    <p>No updates for {{client.first}}  {{client.last}}
    {{/each}}
</div>

<div class="delete_client">  <!-- Delete button for each client page -->
    <br><br>
    <form action="/delete" method="POST" class="delete_form">   <!-- Delete button -->
        <input type="hidden" name="_id" value="{{client._id}}">
        <input class="delete_button" type="submit" name="done" value="Delete this Client">
    </form>
    <br>
</div>

<p><a href="/client/{{client._id}}/tasklist"><input class="todo_button" type="submit" value="TO DO TASKS"></a>

    <a href="/client/{{client._id}}/tasks_completed"><input class="completed_button" type="submit" value="COMPLETED TASKS"></a>

<script src="/javascripts/check.js"></script>  <!-- Javascript file for message box -->
