<h1>[ HealthApp ]</h1>
<h2>||- Client Record -||</h2>

<div class="new-client">

    <h3>Add a new client...</h3>

    <form method="POST" action="/addClient">
        <p>First Name: <input name="first" required /> <br>
            <p>Last Name: <input name="last" required /></p>
        <p>Male <input type="checkbox" name="male"/>   Female <input type="checkbox" name="female"/></p>
        <p>Height: <input type="number" min="2" max="10" name="height"/> ft</p>
        <p>Weight: <input type="number" min="50" max="700" name="weight"/> lbs</p>
        <p>Heart Rate: <input type="number" min="30" max="250" name="heart"/> bpm</p>
        <p>Notes: <input name="notes" /></p>
        <br><input class="submit_button" type="submit" value="Submit">
    </form>
</div>

<div class='flash-errors'>
    {{#if messages}}
        <p class="error-message">{{messages.error}}</p>
    {{/if}}
</div>

<div class="client-name-list">
    <h2>Client List</h2>
    <div class="client-summary">
        {{#each clients}}
            <h3>{{this.name}}</h3>
            <h3>{{this.description}}</h3>
            <P><a href="/client/{{this._id}}">{{this.name}} Info and Updates</a></p>
        {{else}}
            <p>No clients in the database.</p>
        {{/each}}

    </div>
</div>
