<h1>Client Record</h1>

<div class="new-client">

    <h2>Add a new client</h2>

    <form method="POST" action="/addClient">
        Name: <input name="first" required /> <input name="last" required />
        <br>Sex <input type="checkbox" name="sex"/>
        <br>Height: <input type="number" min="24" max="150" name="height"/>
        <br>Weight: <input type="number" min="50" max="700" name="weight"/>
        <br>Heart Rate: <input type="number" min="30" max="250" name="heart"/>
        <br>Notes: <input name="notes" />
        <br><input class="submit_button" type="submit" value="Submit">
    </form>
</div>

<div class='flash-errors'>
    {{#if messages}}
        <p class="error-message">{{messages.error}}</p>
    {{/if}}
</div>

<div class="client-name-list">
    <h2>Client List</h2>
    <div class="client-summary">
        {{#each clients}}
            <h3>{{this.name}}</h3>
            <h3>{{this.description}}</h3>
            <P><a href="/client/{{this._id}}">{{this.name}} Info and Updates</a></p>
        {{else}}
            <p>No clients in the database.</p>
        {{/each}}

    </div>
</div>
