<a href="/auth"><h1>[ HealthApp &#9829; ]</h1></a><p>

<div class="new-user">
<h4>Add A Client . . .</h4>
<form method="POST" action="/user/add">
    <p>First Name <input name="first" maxlength="20" required /> <br>
    <p>Last Name <input name="last" maxlength="20" required /></p>
    <p>Sex <input name="sex" type="text" list="sexoptions"/>
        <datalist id="sexoptions"><option value="Male" label="Male"></option>
            <option value="Female" label="Female"></option></datalist></p>
    <p>Age <input type="number" min="5" max="125" name="age"/> years old</p>
    <p>Height <input type="number" min="3" max="10" name="height"/> ft</p>
    <p>Weight <input type="number" min="50" max="700" name="weight"/> lbs</p>
    <p>Heart Rate <input type="number" min="30" max="250" name="heart"/> bpm</p>
    <p>Notes<br>
        <textarea name="notes" rows="5" cols="30"></textarea></p>
    <p>Date Updated <input name="date" type="date" /></p>
    <!--<input type="hidden"name="_id" value="{{User._id}}">-->
    <br><input class="submit_button" type="submit" value="S  U  B  M  I  T  ">

</form>


<div class='flash-errors'>
    {{#if messages}}
        <p class="error-message">{{messages.error}}</p>
        <p class="info_msg">{{messages.info}}</p>
    {{/if}}
</div>

</div>

    <!--<a href="/client/tasklist"><input class="completed_button" type="submit" value="COMPLETED TASKS"></a> -->

<p><a href="/auth"><input class="home_button" type="submit" value="H  O  M  E  "></a>

    <a href="/logout"><input class="logout_button" type="submit" value="LOGOUT"></a>



<div class="usersummary">
    <h2>Client List</h2>
<div class="user-name-list">
        {{#each user}}
        <h3>{{this.profile}}
            <P><a href="/user/{{this._id}}">{{this.first}} {{this.last}}</h3></a></p>
        {{else}}
            <p>No users in the database.</p>
        {{/each}}

</div>
</div>