<a href="/auth"><h1>[ HealthApp &#9829; ]</h1></a><p>
<h2>Welcome To The Password Protected Page</h2>

{{#if username}}
    <p>Hello, {{username}}. You signed up locally.</p>
{{/if}}

{{#if twitterName}}
    <p>Hello {{twitterName}}, you signed up with Twitter.</p>
{{/if}}

<P>You signed up on {{signupDate}}</P>

<h3>Your favorite things</h3>

<P>Your favorite color is
    {{#if favorites.color}}
        {{favorites.color}}
    {{else}}
        not set
    {{/if}}</P>

<P>Your favorite exercise is
    {{#if favorites.exercise}}
        {{favorites.exercise}}
    {{else}}
        not set
    {{/if}}</P>

<h3>Update your favorite things</h3>

<ul>
    {{#each messages}}
        <li>{{this}}</li>
    {{/each}}
</ul>

<form action="/saveSecrets" method="POST">
    Favorite Color: <input type="text" name="color">  <br>
    Favorite Exercise: <input type="text" name="exercise">  <br>
    <input type="submit" name="updateSecrets" value="Update Secrets">
</form>

<a href="/logout">Log out</a>