<a href="/auth"><h1>[ HealthApp &#9829; ]</h1></a><p>
<h1>TASKLIST</h1>



<div class="tasklist">
    {{#if task.completed}}
        <p>{{task.text}} is completed.</p>
    {{else}}
        <p>{{task.text}} is not yet completed.</p>

        <form action="/done" method="POST" class="done_form">
            <input type="hidden" name="_id" value="{{task._id}}">
            <input class="done_button" type="submit" name="done" value="Done">
        </form>

    {{/if}}

</div>

<div class="delete_task">

    <form action="/delete" method="POST" class="delete_form">
        <input type="hidden" name="_id" value="{{task._id}}">
        <input class="delete_button" type="submit" name="done" value="Delete">
    </form>

</div>
<div class="messages">
    {{#if messages}}
        <p class="error_msg">{{messages.error}}</p>
        <p class="info_msg">{{messages.info}}</p>
    {{/if}}
</div>




