<a href="/auth"><h1>[ HealthApp &#9829; ]</h1></a><p>

<h1>TASKLIST</h1>
<div class="taskinfo">
<div class="addtask">
    <form id="addtask_form" action="/user/{{user._id}}/tasklist/add" method="POST" class="add_form">
        <input id="addtask_text" name="text" type="text" placeholder="Enter a task" required>
        <input type="hidden" name="_id" value="{{this._id}}">
        <input id="addtask_button" name="add" type="submit" value="Add Task">
    </form>
</div>

<div class="messages">
    {{#if messages}}
        <p class="error_msg">{{messages.error}}</p>
        <p class="info_msg">{{messages.info}}</p>
    {{/if}}
</div>

<div class="tasklist">
    {{#each tasks}}
        <p>{{@tasks}}: <a href="/user/{{user._id}}/tasklist/{{this._id}}">{{this.text}}{{this.dateCreated}}</a></p></a></p>


        <form action="/user/{{user._id}}/tasklist/done" method="POST" class="done_form">
            <input type="hidden" name="_id" value="{{this._id}}">
            <input class="done_button" type="submit" name="done" value="Done">
        </form>

        <form action="/user/{{user._id}}/tasklist/delete" method="POST" class="delete_form">
            <input type="hidden" name="_id" value="{{this._id}}">
            <input class="delete_button" type="submit" name="done" value="Delete">
        </form>
    {{else}}
        <p>There are no tasks</p>
    {{/each}}

    <div class="alldone">
        {{#if tasks}}
            <form action="/user/{{user._id}}/tasklist//alldone" method="POST">
                <input class="all_done_button" type="submit" value="Everything is done!">
            </form>
        {{/if}}</div>

</div>
</div>