<a href="/auth"><h1>[ HealthApp &#9829; ]</h1></a><p>

<h1>{{user.first}} {{user.last}}</h1>
<div class="userprof">
    <h2>PROFILE</h2>

    <p id="userpara">{{user.profile}}</p>

    <h2>First Name</h2>

    <p id="userpara">{{user.first}}</p>

    <h2>Last Name</h2>

    <p id="userpara">{{user.last}}</p>

    <h2>Sex</h2>

    {{#if user.sex}}
        <p id="userpara">{{user.first}} is female</p>
    {{else}}
        <p id="userpara">{{user.first}} is male</p>
    {{/if}}

    <h2>Age</h2>
    <p id="userpara">{{user.age}} years old</p>

    <h2>Height</h2>

    <p id="userpara">{{user.height}} ft</p>

    <h2>Weight</h2>

    <p id="userpara">{{user.weight}} lbs</p>

    <h2>Heart Rate</h2>

    <p id="userpara">{{user.heart}} bpm</p>

    <h2>Notes</h2>

    <p id="userpara">{{user.notes}}</p>
</div>
<br>
<br>

<button id="myBtn">Modify USER Information</button>

<!-- Modal form added here.  Used W3 schools tutorial for modal. -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>

        <form method="POST" action="/user/_id/modUser">
            <div class="modprof">
                <h2>Modify Client Profile</h2></div>
            <div class="clientprof">
                    <p>First Name <input name="first" maxlength="20" required value="{{user.first}}"></p><br>
                <p>Last Name <input name="last" maxlength="20" required value="{{user.last}}"></p>
                <p>Sex <input name="sex" type="text" list="sexoptions"><br>
                    <datalist id="sexoptions"><option value="Male" label="Male"></option>
                        <option value="Female" label="Female"></option></datalist></p>
                <p>Age <input type="number" min="5" max="125" name="age" required value="{{user.age}}"> years old</p>
                <p>Height <input type="number" min="3" max="10" name="height" required value="{{user.height}}"> ft</p>
                <p>Weight <input type="number" min="50" max="700" name="weight" required value="{{user.weight}}"> lbs</p>
                <p>Heart Rate <input type="number" min="30" max="250" name="heart" required value="{{user.heart}}"> bpm</p>
                <p>Notes<br>
                    <textarea name="notes" rows="5" cols="30" required value="{{user.notes}}"></textarea></p>
                <p>Date Updated <input name="datesUpdate" type="date" required value="{{user.datesUpdate}}"></p>
                <input type="hidden"name="_id" required value="{{user._id}}">
                <br><input class="submit_button" type="submit" value="S  U  B  M  I  T  ">
                    </div>
                </form>
        </div>
        <br><br>
    </div>


<p><div class="user_tasklist">
<p><form action="/user/{{user._id}}/tasklist" method="GET">
    <input type="hidden" name="_id" value="{{user._id}}">
    <input class="tasklist_button" type="submit" value="TASKLIST">
</form>
</div></p>

<p><a href="/auth"><input class="home_button" type="submit" value="H  O  M  E  "></a></p>

<p><a href="/auth/logout"><input class="logout_button" type="submit" value="LOGOUT"></a></p>

<div class="delete_user">  <!-- Delete button for each client page -->
    <form action="/user/{{user._id}}/delete" method="POST" class="delete_form">   <!-- Delete button -->
        <input type="hidden" name="_id" value="{{user._id}}">
        <input class="deleteuser_button" type="submit" name="delete" value="Delete this User">
    </form>
    <br>
</div>

 <!--   <a href="/tasks/tasks_completed/tasklist"><input class="completed_button" type="submit" value="COMPLETED TASKS"></a>-->


<script src="/javascripts/check.js"></script>  <!-- Javascript file for message box -->

    <script src="/javascripts/modals.js"></script>  <!-- Javascript file for modal allowing client profile modififications -->